torch==2.5.0+cu118
torchvision==0.20.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118

numpy==1.26.4
datasets[vision]
rerun-sdk
rerun-sdk[notebook]
pybind11-stubgen
jupyter
matplotlib
transformers[torch]
scikit-learn
torchinfo
einops
accelerate
evaluate