torch==2.5.0+cu118
torchvision==0.20.0+cu118
--extra-index-url https://download.pytorch.org/whl/cu118

datasets
datasets[vision]
transformers
rerun-sdk
rerun-sdk[notebook]
pybind11-stubgen
jupyter
matplotlib
transformers[torch]